<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/create-category.css}">
    <title>Create Posts</title>

</head>
<body>
<header>
    <h1>rabbi</h1>
</header>
<section>

    <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
        <h2>Create Category</h2>
        <div class="mb-3">
            <label for="categoryTitle" class="form-label">Category Title:</label>
            <input type="text" class="form-control" id="categoryTitle" placeholder="Enter category title" name="title" required>
        </div>
        <div class="mb-3">
            <label for="categoryImage" class="form-label">Category Image:</label>
            <input type="file" class="form-control" name="image" id="categoryImage" accept="image/*" required>
            <img id="imagePreview" src="#" alt="Image Preview" style="display:none; max-height: 200px; margin-top: 1rem;" />
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description: </label>
            <textarea name="description" id="description" placeholder="Write description of category"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create Category</button>
    </form>

</section>
<a th:href="@{/index.html}">Home</a>

    <script th:src="@{/create-category.js}"></script>
</body>
</html>